.orange {
  background-image: linear-gradient(Orange, Chocolate);
  text-align: center;
  margin: 35px
  width: 65%
}

body {
  background-image: linear-gradient(grey,dimgrey);
}


* {
  color: white
}
