.orange {
  background-image: linear-gradient(Orange, Chocolate);
  text-align: center;
  margin: 35px;
  width: 35%;
}

body {
  height: 100%;
  background-image: linear-gradient(grey,dimgrey);
}


* {
  color: white;
}
