.orange {
  background-image: linear-gradient(orange, chocolate);
  text-align: center;
  padding: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border: 3px solid dimgrey;
}

.topnav {
  text-align: center;
  padding: 5px;
  border: 3px solid dimgrey;
  background-image: linear-gradient(blue, midnightblue);
}

.planet {
  padding: 15px;
  border: 5px solid dimgrey;
  margin-left: 55px;
  float: left;
}

.planetInfo {
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(Purple, DodgerBlue);
  border: 2px solid dimgrey;
  font-size: 18px;
  font-style: italic;
  color: white;
  float: right;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(grey, darkgrey);
  padding-left: 20px;
  padding-right: 20px;
  font-family: courier new;
  color: white;
  text-decoration: none;
  float: right;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

table {
  text-align: center;
  border:3px solid dimgrey;
  background-image: linear-gradient(springgreen, mediumspringgreen);
  padding: 5px;
}

th {
  font-size: 23px;
  padding: 8px;
  border: 3px solid mediumseagreen;
  background-color: dimgrey;
  color: white;
}

tr, td {
  padding: 7px;
  background-color: mediumseagreen;
  border: 2px solid seagreen;
  text-align: center;
}
